div.title {font-size: 50px; font-weight: bold; margin: auto; width: fit-content; color: white}
body {background-image: url("https://i.pinimg.com/originals/6b/82/6f/6b826f45123871bde0c4c44b19c5bc64.png"); backgound-position: center; height: 1080px; width: 1920 }
